{% extends "base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3><small></small></h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
          <div class="x_panel">
            <div class="x_title">
              <h2>BlackStone</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <table class="table">
                  <thead>
                    <tr><th>Corporate Overview</th></tr>
                  </thead>
                  <tbody>
                    <tr><td>
                        <img class="img-responsive avatar-view" src="{{ url_for('static', filename='images/blackstone.png') }}" alt="Avatar" width=20%>
                    </td></tr>
                    <tr><td>
                        Tower is a 449,000 sf office building located in downtown San Diego, CA. San Diego CBD office rents remain below long-term trend
                        levels, signifying potential upside. The building has an excellent location at the connection of the
                        traditional financial district and the Gaslamp residential and entertainment corridor. It is also on light rail
                        that connects to nearby developing downtown neighborhoods. At acquisition, the property was 91%
                        leased to twenty-seven tenants at approximately 14% below market rates, offering stable long term
                        cash flow from an institutional quality tenant roster. With a purchase price at $273/sf and replacement
                        cost estimate of $500/sf, this opportunity provides highly attractive relative value for Class A office
                        product in a coastal CBD market at a significant discount to replacement cost. 

                    </td></tr>
                  </tbody>

                </table>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <table class = "table">
                  <thead>
                    <tr><th>AUM History ($bn)</th></tr>
                  </thead>
                  <tbody>
                    <td>
                      <canvas id="AuMHistory"></canvas>
                    </td>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                <table class = "table">
                  <thead>
                    <tr>
                      <th>AUM Regional Breakdown</th>
                      <th>AuM ($B)</th>
                    </tr>

                  </thead>
                  <tbody>
                    <tr>
                      <td>TOTAL</td>
                      <td>$194</td>                      
                    </tr>
                    <tr>
                      <td>Americas</td>
                      <td>$30</td>                      
                    </tr>
                    <tr>
                      <td>Europe</td>
                      <td>$55</td>                      
                    </tr>
                    <tr>
                      <td>Asia</td>
                      <td>$11</td>                      
                    </tr>
                    <tr>
                      <td>Other</td>
                      <td>$98</td>                      
                    </tr>
 
                  </tbody>
                </table>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <table class = "table">
                    <thead>
                      <tr><th>Type of Capital</th></tr>
                    </thead>
                    <tbody>
                      <td>
                        <canvas id="AUMType"></canvas>
                      </td>
                    </tbody>
                  </table>                
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                  <table class = "table">
                    <thead>
                      <tr><th>Type of Accounts</th></tr>
                    </thead>
                    <tbody>
                      <td>
                        <canvas id="AccountType1"></canvas>
                      </td>
                    </tbody>
                  </table>                
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                  <table class = "table">
                    <thead>
                      <tr><th>Type of Accounts</th></tr>
                    </thead>
                    <tbody>
                      <td>
                        <canvas id="AccountType2"></canvas>
                      </td>
                    </tbody>
                  </table>                
                  </div>

                </div>              
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='build/js/competitor.js') }}"></script>
{% endblock javascripts %}



