<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../static/landing/img/favicon.png">
    <!-- Author Meta -->
    <meta name="author" content="codethemes">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>PortSlate</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,900" rel="stylesheet">
    <!-- ===========================================
		CSS
	============================================= -->
    <link rel="stylesheet" href="../static/landing/css/linearicons.css">
    <link rel="stylesheet" href="../static/landing/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/landing/css/bootstrap.css">
    <link rel="stylesheet" href="../static/landing/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/landing/css/nice-select.css">
    <link rel="stylesheet" href="../static/landing/css/animate.min.css">
    <link rel="stylesheet" href="../static/landing/css/owl.carousel.css">
    <link rel="stylesheet" href="../static/landing/css/main.css">
</head>

<body class="version2">
    <!-- start Header Area -->
    <header id="header">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div id="logo">
                    <a href="index.html">
                        <img class="logo-1" src="../static/landing/img/logo-dark.png" alt="" title="" />
                    </a>
                    <a href="index.html">
                        <img class="logo-2" src="../static/landing/img/logo-dark.png" alt="" title=""/>
                    </a>
                </div>
                <div class="nav-wrap d-flex flex-row align-items-center">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li>
                                <a href="#home">Home</a>
                            </li>
                            <li>
                                <a href="#about">About Us</a>
                            </li>
                            <li>
                                <a href="#features">Features</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <a class="genric-btn2" href="/login">Log In</a>
                </div>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- End Header Area -->

    <!-- Start hero-section -->
    <section class="hero-section relative" id="home">
        <div class="container">
            <div class="row fullscreen align-items-center relative">
                <div class="col-lg-6 col-md-6 content-wrap">
                    <h1>
                        Don't Sweat The Debt
                        <br> 
                    </h1>
                    <p class="pt-20 pb-20 mw-510">
                        Meet PortSlate. A cloud-based debt management solution for 
                        commercial real estate investment managers. Our powerful tools takes away the complexity of managing the leverage. 
                        Spend less time dealing with minutia and more time prioritizing performance.
                    </p>
                    <a href="/login" class="genric-btn2">Sign up</a>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <img class="img-fluid" src="../static/landing/img/hero/hero-img2.png" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End hero-section -->

    <!-- Start About US-section -->
    <section class="marketing-section section-gap aquablue-bg" id="about">
        <div class="container-fluid">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <div class="title-img">
                    </div>
                    <h1><b>About Us</b></h1>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 marketing-left">
                    <h1>
                        Increase Transparency 
                        <br> To Your Real Estate Investments
                    </h1>
                    <p class="mw-510">
                        Thoughtfully designed by seasoned industry professionals, PortSlate is a cloud-based software platform crafted to alleviate the burden of real estate debt financing. 
                        PortSlate offers one-stop-shop solution to manage your portfolio leverage, 
                        such as loan abstraction, covenant/compliance tracking, portfolio analytics to customized reportings.
                    </p>
                </div>
                <div class="col-lg-6 marketing-right">
                    <div class="active-dash-carusel">
                        <img class="img-fluid item" src="../static/landing/img/marketing/d1.png" alt="">
                        <img class="img-fluid item" src="../static/landing/img/marketing/d2.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End About Us-section -->
    <!-- Start Problems section -->
    <section class="execution-section section-gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                <div class="title-img">
                </div>
                    <h1><b>Time to Let Spreadsheets Go</b></h1>
                    <p>
                        Despite the increasing complexity of real estate investments, investors still rely on disjointed spreadsheets to handle the workflow, 
                        resulting in inefficiencies, errors and lack of data transparency. 
                        Time to let spreadsheets go.
                    </p>  
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-lg-8">
                    <div class="active-execution-carusel">
                        <img class="img-fluid" src="../static/landing/img/highlights/s4.png" alt="">
                        <img class="img-fluid" src="../static/landing/img/highlights/s5.png" alt="">
                        <img class="img-fluid" src="../static/landing/img/highlights/s6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Problems-secation -->    

    <!-- Start important-points section -->
    <section class="important-points-section section-gap aquablue-bg" id="features">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                        <h1><b>Key Features</b></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 single-points white-bg">
                    <img src="../static/landing/img/highlights/h3.png" alt="">
                    <h4>
                        Centralized 
                        <br> Portfolio Platform
                    </h4>
                    <p>
                        Constant access to all your critical portfolio details in one single online platform, whether at the desks or on the go via mobile phone.
                        No more juggling of disjointed spreadsheets
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 single-points white-bg">
                    <img src="../static/landing/img/highlights/f3.png" alt="">
                    <h4>
                        Seamless
                        <br> Loan Abstraction
                    </h4>
                    <p>
                        Our intuitive interface enable users to convert thousand-page loan agreements into loan abstraction easily - encapsulating essential information
                        such as key loan terms, covenants and mandatory compliance events.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 single-points white-bg">
                    <img src="../static/landing/img/highlights/s2.png" alt="">
                    <h4>
                        Powerful
                        <br> Portfolio Analytics
                    </h4>
                    <p>
                        Our robust calculation engines allow users to run multi-level modeling simulations (investors, fund, asset...etc) to
                        help you uncover new insights of your debt positions. Our interest rate analytics empower users to manage their rate exposure in real-time.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 single-points white-bg">
                    <img src="../static/landing/img/highlights/f7.png" alt="">
                    <h4>
                        Customized
                        <br> Reporting & Alerts
                    </h4>
                    <p>
                        Streamline the reporting process with our highly customizable tools. Users can setup specific alerts based on pre-defined data points, 
                        eliminating the need for ad-hoc reminders.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End important-points section -->

    <!-- Start contact section -->
    <section class="contact-section section-gap" id="contact">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <div class="title-img">
                        <img src="../static/landing/img/title-icon.png" alt="">
                    </div>
                    <h1>Interested? Please Send Us a Message</h1>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-6 contact-left">
                    <img class="img-fluid" src="../static/landing/img/contact/contact-img.png" alt="">
                </div>
                <div class="col-lg-5 col-md-6 contact-right">
                    <form class="form-area contact-form" id="myForm" action="mail.php" method="post">
                        {{ usermessage.hidden_tag() }}
                        <label for="">Your Name</label>
                        <input name="name" autocomplete="name" placeholder="Enter your name" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control"
                            required="" type="text">

                        <label for="">Email Address</label>
                        <input name="email" autocomplete="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control"
                            required="" type="email">

                        <label for="">Subject</label>
                        <input name="subject" autocomplete="subject" placeholder="Enter subject" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Enter subject'" class="common-input mb-20 form-control"
                            required="" type="text">

                        <label for="">Message</label>
                        <textarea class="common-textarea form-control" cols="30" rows="7" name="message" autocomplete="message"
                            placeholder="Enter Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'"
                            required=""></textarea>
                        <div class="">
                            <button class="genric-btn mt-30">Send Message</button>
                            <div class="alert-msg"></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- End contact section -->
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-footer-widget">
                        <h4>About Us</h4>
                        <p>
                            PortSlate is a cloud-based software platform crafted to alleviate the burden of real estate debt financing. 
                            With its state-of-the-art calculation engine, PortSlate offers one-stop-shop solution to manage your 
                            portfolio leverage.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h4>Newsletter</h4>
                        <p>Get Our Latest Update!</p>
                        <div class="d-flex flex-row newsletter-form" id="mc_embed_signup">
                            <form class="navbar-form" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get">
                                <div class="d-flex form-wrap">
                                    <input class="form-control" name="EMAIL" autocomplete="email" placeholder="Your email address"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
                                        required="" type="email">
                                    <button class="submit-btn">
                                        <span class="lnr lnr-arrow-right"></span>
                                    </button>
                                </div>
                                <div class="info mt-20"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row justify-content-center mt-70">
                <p class="footer-text m-0 col-lg-6 col-md-12">Copyright © 2019 All rights reserved to PortSlate
                </p>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="../static/landing/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="../static/landing/js/popper.min.js"></script>
    <script src="../static/landing/js/vendor/bootstrap.min.js"></script>
    <script src="../static/landing/js/vendor/jquery.vide.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7nx22ZmINYk9TGiXDEXGVxghC43Ox6qA"></script>
    <script src="../static/landing/js/easing.min.js"></script>
    <script src="../static/landing/js/superfish.min.js"></script>
    <script src="../static/landing/js/jquery.ajaxchimp.min.js"></script>
    <script src="../static/landing/js/owl.carousel.min.js"></script>
    <script src="../static/landing/js/mail-script.js"></script>
    <script src="../static/landing/js/main.js"></script>
</body>

</html>